.logo {
    margin-left: 10px;
    padding: 20px;
}

#caja_texto{
    margin-left: 125px;
    width: 600px;
    height: 500px;
    border: none;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    color: #0A3871;
    cursor: text;
}


h3 {
    display: block;
}

.advertencia {
    margin-bottom: 10px;
    padding-top: 15px;
    margin-left: 140px;
    font-size: 20px;
    color: rgb(31, 31, 78);
    font-weight: bold;
    font-family: 'Orelega One', cursive;
}

.botones {
    display: block;
}



#botonEncriptar {
    display: inline-block;
    position: static;
    margin-left: 155px;
    margin-bottom: 10px;
    width: 180px;
    height: 60px;
    font-size: 20px;
    color: white;
    background: #0A3871;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 200px;
    font-family: 'Kanit', sans-serif;
}

#botonEncriptar:hover{
    background:rgb(188, 184, 184);
    color:black;
    border-color: black;
    border-radius: 10px;
    
}

#botonDesencriptar {
    margin-bottom: 15px;
    width: 180px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    color: #0A3871;
    background-color: #ffffff;
    border-color: #0f2131;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 110px;
    font-family: 'Kanit', sans-serif;
}

#botonDesencriptar:hover {
    background-color: #0f2131;
    color: whitesmoke;
    border-color: #ffffff;
}

.boton-copiar{
    align-items: center;
    width:140px;
    height: 33px;
    font-size: 16px;
    font-weight: bold;
    color: #0A3871;
    background-color: white;
    font-family: 'Kanit', sans-serif;
    border-color: #0A3871;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 80px;
    margin-bottom: -10px ;
}

.boton-copiar:hover {
    border-radius: 10px ;
    background-color: #0f2131;
    color: whitesmoke;
    border-color: #ffffff;
}

.texto-imagen {
    align-items: center;
    align-content: center;
    background-color: whitesmoke;
    border-radius: 30px;
    display: flex;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08); 
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2%;
    text-align: center;
    width: 300px;
    height: 600px;
    position: absolute;
    margin-left: 850px;
    margin-top: -700px;
}

.munheco {
    width: 100%;
    height: auto;
    align-items: center;
    display: block;  
}

#salidaTexto {
    font-family: 'Inter', sans-serif;
    text-align: left;
    border: none;
    resize: none;
    font-size: 24px;
    color:#0A3871;
    width: 300px;
    height: 500px;
    background:whitesmoke;
}

.mensaje_1 {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding: 3%;
    font-family: serif;
    font-family: 'Orelega One', cursive;
}

.mensajeTextoVacioacio {
    padding: 5%;
    font-family: 'Orelega One', cursive;
}

footer {
    display: flex;
    text-align: center;
    width: 100%;
    height: 25px;
    color: white;
    background-color: #0d2644;
    padding: 10px;
}